.body {
  &--bg--inner {
    background-color: $light-grey;
  }

  &--clearfix {
    position: relative;

    &::after {
      @include pseudo(relative);

      display: block;
      height: 1px;
    }
  }
}
