.button {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 20px 3px 20px;

  font-weight: 700;

  @include font-size-height(17px, 30px);
  color: $night-blue;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &:active {
    color: rgba($night-blue, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  &--theme--light {
    background-color: $yellow;

    @media (min-width: $tablet-width) {
      padding-top: 12px;
      padding-bottom: 8px;
    }

    &:hover {
      background-color: $dark-yellow;
    }
  }

  &--theme--pale {
    background-color: $dark-blue-grey;
  }

  &--arrow {
    position: relative;

    @include link-style($link-color, 18px, 18px);
    padding: 23px 43px 21px 23px;

    text-transform: none;
    text-align: left;
    background-color: $yellow;
    border-radius: 10px;

    &:hover {
      background-color: $dark-yellow;
    }

    &:active {
      color: rgba($link-color, 0.3);

      &::after {
        opacity: 0.3;
      }
    }

    @media (min-width: $tablet-width) {
      @include font-size-height(24px, 24px);
      padding: 29px 53px 27px 34px;

      border-radius: 20px;
    }

    &::after {
      @include pseudo(absolute);
      top: 24px;
      right: 23px;

      @include triangle-right($link-color, 10px, 14px);

      @media (min-width: $tablet-width) {
        top: 34px;
        right: 36px;
      }
    }
  }

  &--theme--no {
    background-color: $white;
  }

  &--theme--location {
    text-transform: none;
    color: $dark-blue;

    box-shadow: 0 0 0 3px $dark-blue inset;

    &:hover {
      color: $white;

      background-color: $dark-blue;

      &::after {
        border-left-color: $white;
      }
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }

  &--border--full-rounded {
    border-radius: 50px;
  }

  &--border--lightly-rounded {
    border-radius: 8px;
  }

  &--lowercase {
    padding-top: 20px;
    padding-bottom: 20px;

    @include font-size-height(18px, 18px);
    color: $link-color;
    text-transform: none;

    @media (min-width: $tablet-width) {
      @include font-size-height(24px, 24px);
    }
  }
}
