.button {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;

  font-weight: 700;
  color: $night-blue;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &--theme--light {
    background-color: $yellow;
  }

  &--border--full-rounded {
    border-radius: 50px;
  }

  &--border--lightly-rounded {
    border-radius: 8px;
  }

  &--lowercase {
    text-transform: none;
  }
}
