.companions-list {
  @include list;

  &--align--center {
    text-align: center;
  }
}

.companions-list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 16px 20px 22px 20px;

  background-color: $white;
  border-radius: 8px;

  @media (min-width: $tablet-width) {
    width: 285px;
  }

  &--profile {
    background-color: transparent;
  }

  &--center {
    align-items: center;
    text-align: center;
  }
}

.companion-list__profile-link {
  margin-bottom: 16px;

  font-weight: 700;

  @include link-style($link-color, 21px, 21px);

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;

    @include font-size-height(24px, 24px);
  }

  &--smaller {
    @include font-size-height(20px, 20px);
  }
}

.companions-list__img {
  order: -1;
}

.companions-list__hashtags {
  @include reset-m-p;
  margin-bottom: 17px;

  color: $light-black;

  @include font-size-height(16px, 18px);

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;

    @include font-size-height(20px, 24px);
  }

  &--smaller {
    font-size: 15px;
  }
}

.companions-list__popularity {
  font-weight: 700;

  @include font-size-height(14px, 21px);
  color: $night-blue;
}

.companions-list__title {
  @include reset-m-p;

  font-weight: 400;

  @include font-size-height(15px, 18px);
  color: $light-black;

  &--profile {
    font-weight: 700;
    font-size: 16px;
    color: $link-color;
    text-transform: uppercase;
  }
}
