.companions {
  color: $white;

  background-color: $dark-blue;

  &--inner {
    display: flex;
    flex-direction: column;
    color: $dark-blue;

    background-color: $light-grey;

    @media (min-width: $desktop-width) {
      width: 950px;
    }
  }
}

.companions__container {
  @include container(35, 35, 70, 0);
  padding-top: 129px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 195px;
    padding-bottom: 88px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 205px;
    padding-bottom: 130px;
  }
}

.companions__text-wrapper {
  @media (min-width: $desktop-width) {
    margin-right: auto;
  }
}

.companions__heading {
  @include index-headings;
}

.companions__description {
  @include index-description;

  @media (min-width: $tablet-width) {
    width: 427px;
  }
}

.companions__subdescription {
  @include index-description-bold;

  @media (min-width: $tablet-width) {
    width: 264px;
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 87px;
  }
}

.companions__button {
  width: 100%;

  @media (min-width: $desktop-width) {
    position: relative;
    top: -120px;

    align-self: flex-start;
    width: 280px;
    margin-bottom: -120px;
  }
}

.companions__companions-list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 630px;
  }
}

.companions__link {
  @include center;
  margin-bottom: 27px;
}

.companions__pagination-wrapper {
  width: 100%;
  min-height: 50px;

  background-color: $white;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 25px 28px;
  }
}
