.companions__button {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 300px;
  }
}

.companions__companions-list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 630px;
  }
}

.companions__w-container {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.companions__link {
  @include center;
  margin-bottom: 27px;
}

.companions__pagination-wrapper {
  width: 100%;
  min-height: 50px;

  background-color: $white;
}
