.companions-list {
  @include list;

  &--align--center {
    text-align: center;
  }

  &--inner {
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      margin-bottom: 6px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 36px;
    }
  }
}

.companions-list__item {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 16px 20px 22px 20px;

  color: $dark-blue;

  background-color: $white;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    width: 285px;

    border-radius: 20px;
  }

  &:hover {
    box-shadow: 0 6px 21px 0 rgba($black, 0.08);

    .companions-list__img {
      transform: scale(1.1);
    }

    .companions-list__avatar {
      transform: scale(1.1);
    }
  }

  &--profile {
    background-color: transparent;
  }

  &--center {
    align-items: center;
    text-align: center;
    padding: 0;

    .companions-list__content-wrapper {
      padding: 26px 16px 16px 16px;

      @media (min-width: $tablet-width) {
        padding-top: 31px;
        padding-bottom: 24px;
      }
    }
  }

  &--inner {
    padding: 15px 0 22px 0;
    border-radius: 20px;

    @media (min-width: $tablet-width) {
      width: 100%;
      padding: 33px 0 10px 0;
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      flex-direction: row;
      margin-bottom: 30px;
    }

    .companions-list__content-wrapper {
      @media (min-width: $tablet-width) {
        display: flex;
        flex-wrap: wrap;
      }

      @media (min-width: $desktop-width) {
        flex-grow: 1;
        padding: 47px 44px 41px 56px;
      }

      &::before {
        @media (min-width: $desktop-width) {
          content: "";

          position: absolute;
          top: 50%;
          left: 52%;

          width: 1px;
          height: 60%;

          background-color: #e8e8e8;
          background-image: linear-gradient(to bottom, #fbfbfb 0%, #e8e8e8 20%, #e8e8e8 80%, #fbfbfb 100%);

          transform: translateY(-50%);
        }
      }
    }

    .companions-list__name {
      &::before {
        left: 139px;

        @media (min-width: $tablet-width) {
          left: auto;
          right: -30px;
          top: 12px;
        }

        @media (min-width: $desktop-width) {
          right: auto;
          left: -25px;
        }
      }
    }

    .companions-list__country-whish-list {
      position: static;

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      min-height: 54px;
      padding-left: 20px;

      @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
        flex-direction: row;
        min-height: 0;
        padding-left: 35px;
      }

      @media (min-width: $desktop-width) {
        margin-top: -17px;
        padding-left: 0;
      }
    }

    .companions-list__level {
      position: relative;
      top: 0;
      left: 0;
      z-index: 0;
      margin-top: -11px;
      margin-left: 23px;

      @media (min-width: $tablet-width) {
        margin-left: 0;
      }

      @media (min-width: $desktop-width) {
        margin-top: -22px;
      }
    }
  }
}

.companions-list__content-wrapper {
  position: relative;

  width: 100%;
}

.companions-list__user-info {
  @media (min-width: $tablet-width) {
    order: 0;
    align-self: flex-start;
    width: 490px;
    padding-left: 258px;
    margin-right: auto;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 260px;
    padding-left: 0;
    margin-right: 69px;
    margin-bottom: 29px;
    margin-left: 3px;
  }
}

.companions-list__avatar-wrapper {
  position: absolute;
  top: 15px;
  left: 18px;
  z-index: 1;

  display: block;

  @include circle(70px);

  overflow: hidden;

  @media (min-width: $tablet-width) {
    top: 35px;
    left: 35px;

    @include square(190px);
    border-radius: 18px;
  }

  @media (min-width: $desktop-width) {
    position: static;

    flex-shrink: 0;

    @include square(285px);
    border-radius: 20px 0 0 20px;
  }
}

.companions-list__avatar {
  display: block;

  @include square(70px);

  transition: transform 500ms;

  @media (min-width: $tablet-width) {
    @include square(190px);
  }

  @media (min-width: $desktop-width) {
    @include square(285px);
  }
}

.companions-list__trans-level-wrapper {
  display: flex;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    order: 1;
    margin-bottom: 19px;
    padding-right: 25px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    order: 3;
    margin-bottom: 0;
    padding-right: 0;
  }

  .companions-list__title {
    @media (min-width: $tablet-width) {
      @include reset-m-p;
      font-size: 0;
    }

    &::before,
    &::after {
      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }
}

.companions-list__transport-wrapper {
  flex-grow: 1;
}

.companions-list__level-wrapper {
  width: 88px;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.companions-list__action-wrapper {
  display: flex;

  @include padding-center(20px);

  @media (min-width: $tablet-width) {
    position: relative;
    top: -73px;

    align-items: flex-start;
    order: 2;
    max-width: 340px;
    margin-bottom: -73px;
    margin-left: 255px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    position: static;
    top: 0;

    width: 275px;
    max-width: 275px;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 58px;
  }
}

.companions-list__country-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    order: 3;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    width: auto;
  }

  .companions-list__title {
    @media (min-width: $desktop-width) {
      @include reset-m-p;
      font-size: 0;
    }

    &::before,
    &::after {
      @media (min-width: $desktop-width) {
        display: none;
      }
    }
  }
}

.companions-list__actions {
  position: absolute;
  top: 40px;
  left: 67px;
  z-index: 2;

  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    position: static;
  }
}

.companions-list__profile-link {
  display: block;
  margin-bottom: 16px;

  font-weight: 700;

  @include link-style($link-color, 21px, 21px);

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;

    @include font-size-height(24px, 24px);
  }

  &--smaller {
    width: 90px;
    margin-left: 104px;
    margin-bottom: 45px;

    @include font-size-height(20px, 20px);

    @media (min-width: $tablet-width) {
      width: auto;
      margin-bottom: 18px;
      margin-left: 0;

      @include font-size-height(30px, 30px);
    }
  }
}

.companions-list__name {
  position: relative;

  &::before {
    @include pseudo(absolute, 7px, auto, auto, -16px);
    @include circle(5px);

    background-color: #f97676;

    @media (min-width: $tablet-width) {
      @include square(7px);
      left: -21px;
    }
  }

  &--online {
    &::before {
      background-color: #81e31e;
    }
  }
}

.companions-list__img-wrapper {
  order: -1;
  min-height: 270px;
  overflow: hidden;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @media (min-width: $tablet-width) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.companions-list__img {
  display: block;

  @include square(270px);

  transition: transform 300ms;

  @media (min-width: $tablet-width) {
    @include square(285px);
  }
}

.companions-list__hashtags {
  @include reset-m-p;
  margin-bottom: 10px;

  @include padding-center(15px);

  color: $light-black;

  @include font-size-height(16px, 18px);

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;

    @include font-size-height(20px, 24px);
  }

  &--smaller {
    width: 200px;
    padding: 0;
    padding-left: 25px;
    margin-bottom: 13px;

    font-size: 15px;

    @media (min-width: $tablet-width) {
      width: auto;
      padding-left: 3px;

      font-size: 20px;
    }
  }

  &--not-center {
    @media (max-width: $tablet-width - 1) {
      padding-left: 28px;
    }
  }
}

.companions-list__fav-button {
  position: relative;
  display: block;

  @include reset-m-p;
  margin-right: 7px;

  @include circle(31px);

  background-color: $light-grey;
  border: none;

  cursor: pointer;

  &:hover {
    background-color: $blue-grey;
  }

  &:active {
    &::before {
      opacity: 0.1;
    }
  }

  &::after {
    @media (max-width: $tablet-width - 1) {
      content: "";
      position: absolute;

      top: 50%;
      left: 50%;

      display: block;
      width: 48px;
      height: 48px;

      transform: translate(-50%, -50%);
    }
  }

  &::before {
    @include pseudo(absolute);
    top: 50%;
    left: 50%;

    @include rectangle(13px, 11px);

    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      @include rectangle(20px, 17px);
    }
  }

  @media (min-width: $tablet-width) {
    @include square(50px);
  }

  &--active {
    background-color: #f9eaea;

    &:hover {
      background-color: #f9d8d8;
    }

    &:active {
      &::before {
        opacity: 0.3;
      }
    }

    &::before {
      background-image: url("../img/heart-active.svg");
    }
  }
}

.companions-list__popularity {
  font-weight: 700;

  @include font-size-height(14px, 21px);
  color: $night-blue;

  @media (min-width: $tablet-width) {
    @include font-size-height(20px, 30px);
  }
}

.companions-list__title {
  position: relative;

  @include reset-m-p;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  margin-bottom: 16px;

  font-weight: 400;

  @include font-size-height(15px, 18px);
  color: $light-black;

  &::before,
  &::after {
    content: "";

    position: relative;

    height: 1px;

    background-color: $light-grey;
  }

  &::before {
    width: 17px;
    margin-right: 10px;

    @media (min-width: $tablet-width) {
      width: 73px;
    }
  }

  &::after {
    flex-grow: 1;
    width: auto;
    margin-left: 10px;
  }
}

.companions-list__level {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 10;

  padding-top: 7px;

  @media (min-width: $tablet-width) {
    top: 20px;
    left: 20px;
  }

  @media (min-width: $desktop-width) {
    top: 23px;
    left: 23px;
  }
}

.companions-list__action-button {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 148px;
    padding-top: 12px;
    padding-bottom: 9px;
  }
}
