.contacts {
  @include list;
}

.contacts__link {
  font-weight: 700;

  @include font-size-height(16px, 22px);
  text-transform: uppercase;
  text-decoration: none;

  &--color--dark {
    color: $dark-blue;
  }

  &--color--light {
    color: $yellow;
  }
}
@media (min-width: $tablet-width) {
  .contacts__link {
    @include font-size-height(28px, 28px);
  }
}

.contacts__mode {
  font-style: normal;
}
