.contacts {
  @include list;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.contacts__link {
  position: relative;

  display: flex;
  justify-content: flex-start;


  font-weight: 700;

  @include font-size-height(16px, 22px);
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    @include font-size-height(28px, 28px);
  }

  &--color--dark {
    color: $dark-blue;
  }

  &--color--light {
    color: $yellow;
  }

  &--phone {
    &::before {
      @include pseudo(relative, 0, auto, auto, 0);
      @include circle(40px);
      background-color: $dark-orange;
    }
  }

  &--mail {
    &::before {
      @include pseudo(relative, 0, auto, auto, 0);
      @include circle(40px);
      background-color: $dark-yellow;
    }
  }
}

.contacts__mode {
  font-style: normal;
}
