.contacts {
  @include list;

  &--header {
    .contacts__link {
      &::after {
        @media (max-width: $desktop-width - 1) {
          display: none;
        }
      }
    }
  }
}

.contacts__item {
  &:not(:last-child) {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.contacts__link {
  position: relative;

  display: flex;
  justify-content: flex-start;


  font-weight: 700;

  @include font-size-height(16px, 22px);
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    @include font-size-height(28px, 28px);
  }

  &::after {
    @include pseudo(absolute);
    z-index: 2;
    top: 50%;
    left: 50%;

    background-repeat: no-repeat;
    background-size: contain;

    transform: translate(-50%, -50%);
  }

  &--color--dark {
    color: $dark-blue;

    &:hover {
      color: rgba($dark-blue, 0.6);
    }

    &:active {
      color: rgba($dark-blue, 0.3);
    }
  }

  &--color--light {
    color: $yellow;

    &:hover {
      color: $dark-yellow;
    }

    &:active {
      color: rgba($dark-yellow, 0.3);
    }

    .contacts__mode {
      @media (min-width: $desktop-width) {
        display: block;
      }
    }
  }

  &--phone,
  &--phone-header,
  &--mail,
  &--mail-header {
    &::before {
      @include pseudo(relative, 0, auto, auto, 0);
    }

    &:active {
      &::after {
        opacity: 0.3;
      }
    }
  }

  &--phone,
  &--mail {
    &::before {
      @include circle(40px);
    }
  }

  &--phone-header,
  &--mail-header {
    &::before {
      display: none;

      @include circle(50px);

      @media (min-width: $desktop-width) {
        display: block;
      }
    }
  }

  &--phone,
  &--phone-header {
    &::before {
      background-color: $dark-orange;
    }

    &::after {
      width: 18px;
      height: 18px;

      background-image: url("../img/topmenu-phone.svg");
    }

    &:hover {
      &::before {
        background-color: #f26926;
      }
    }
  }

  &--mail,
  &--mail-header {
    &::before {
      background-color: $dark-yellow;
    }

    &::after {
      width: 18px;
      height: 14px;

      background-image: url("../img/topmenu-mail.svg");
    }

    &:hover {
      &::before {
        background-color: $dark-orange;
      }
    }
  }

  &:active {
    .contacts__mode {
      &::after {
        opacity: 0.3;
      }
    }
  }
}

.contacts__mode {
  position: relative;

  padding-left: 60px;

  font-style: normal;

  @media (min-width: $tablet-width) {
    padding-left: 90px;
  }

  @media (min-width: $desktop-width) {
    display: none;
    padding-left: 122px;
  }

  &::before {
    @include pseudo(absolute, -14px, auto, auto, 0);
    @include circle(45px);
    background-color: #121936;

    @media (min-width: $tablet-width) {
      top: -22px;

      @include circle(68px);
    }

    @media (min-width: $desktop-width) {
      top: -33px;

      @include circle(90px);
    }
  }

  &::after {
    @include pseudo(absolute);
    top: 37%;
    left: 14px;

    width: 18px;

    background-repeat: no-repeat;
    background-size: contain;

    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      top: 40%;
      left: 21px;
      width: 27px;
    }

    @media (min-width: $desktop-width) {
      left: 28px;
      width: 36px;
    }
  }

  &--phone {
    &::after {
      height: 18px;

      background-image: url("../img/contacts-phone.svg");

      @media (min-width: $tablet-width) {
        height: 27px;
      }

      @media (min-width: $desktop-width) {
        height: 36px;
      }
    }
  }

  &--mail {
    &::after {
      height: 13px;

      background-image: url("../img/contacts-mail.svg");

      @media (min-width: $tablet-width) {
        height: 19px;
      }

      @media (min-width: $desktop-width) {
        height: 26px;
      }
    }
  }
}
