.country-whish-list {
  @include list;

  &--inner {
    margin-bottom: 11px;

    .country-whish-list__item {
      margin-bottom: 9px;

      @media (min-width: $tablet-width) {
        margin-bottom: 0;
        margin-right: 28px;
      }

      @media (min-width: $desktop-width) {
        margin-bottom: 6px;
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--index {
    position: absolute;
    top: -12px;
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    width: 100%;

    .country-whish-list__item {
      position: relative;

      width: 35px;
      height: 24px;

      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      &[data-hover] {
        &::before {
          @media (min-width: $desktop-width) {
            content: attr(data-hover);

            position: absolute;
            top: 138%;
            left: 50%;

            display: none;
            padding: 16px 24px 17px 24px;

            @include font-size-height(20px, 24px);
            color: $white;
            white-space: nowrap;

            background-color: #101d41;
            border-radius: 3px;

            transform: translateX(-50%);
          }
        }

        &::after {
          @media (min-width: $desktop-width) {
            content: "";

            position: absolute;
            top: 90%;
            left: 50%;

            display: none;

            @include triangle-right(#101d41, 8px, 16px);
            transform: translateX(-50%) rotate(-90deg);
          }
        }

        &:hover {
          &::before,
          &::after {
            display: block;
          }
        }
      }

      &--sri-lanka {
        background-image: url("../img/flag-sri-lanka.svg");
      }

      &--thailand {
        background-image: url("../img/flag-thailand.svg");
      }

      &--seychelles {
        background-image: url("../img/flag-seychelles.svg");
      }

      &--belgium {
        background-image: url("../img/flag-belgium.svg");
      }

      &--czech {
        background-image: url("../img/flag-czech.svg");
      }

      &:not(:last-child) {
        margin-right: 19px;
      }
    }
  }
}

.country-whish-list__name {
  position: relative;

  padding-left: 45px;

  font-weight: 500;

  @include font-size-height(15px, 18px);
  color: $link-color;
  text-transform: uppercase;

  &::before {
    @include pseudo(absolute);
    top: -4px;
    left: 5px;

    @include rectangle(26px, 18px);

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (min-width: $tablet-width) {
      left: 1px;

      @include rectangle(35px, 24px);
    }
  }

  @media (min-width: $tablet-width) {
    @include font-size-height(20px, 30px);
  }

  @media (min-width: $desktop-width) {
    padding-left: 54px;
  }

  &--sri-lanka {
    &::before {
      background-image: url("../img/flag-sri-lanka.svg");
    }
  }

  &--thailand {
    &::before {
      background-image: url("../img/flag-thailand.svg");
    }
  }

  &--seychelles {
    &::before {
      background-image: url("../img/flag-seychelles.svg");
    }
  }

  &--belgium {
    &::before {
      background-image: url("../img/flag-belgium.svg");
    }
  }

  &--czech {
    &::before {
      background-image: url("../img/flag-czech.svg");
    }
  }

  &--usa {
    &::before {
      background-image: url("../img/flag-usa.svg");
    }
  }

  &--australia {
    &::before {
      background-image: url("../img/flag-australia.svg");
    }
  }

  &--dominica {
    &::before {
      background-image: url("../img/flag-dominica.svg");
    }
  }

  &--uk {
    &::before {
      background-image: url("../img/flag-united-kingdom.svg");
    }
  }

  &--germany {
    &::before {
      background-image: url("../img/flag-belgium.svg");
    }
  }
}
