.country-whish-list {
  @include list;

  &--inner {
    .country-whish-list__item {
      margin-bottom: 16px;

      @media (min-width: $tablet-width) {
        margin-bottom: 0;
      }
    }
  }

  &--index {
    position: absolute;
    top: -12px;
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    width: 100%;

    .country-whish-list__item {
      width: 35px;
      height: 24px;

      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      &--sri-lanka {
        background-image: url("../img/flag-sri-lanka.svg");
      }

      &--thailand {
        background-image: url("../img/flag-thailand.svg");
      }

      &--seychelles {
        background-image: url("../img/flag-seychelles.svg");
      }

      &--belgium {
        background-image: url("../img/flag-belgium.svg");
      }

      &--czech {
        background-image: url("../img/flag-czech.svg");
      }

      &:not(:last-child) {
        margin-right: 19px;
      }
    }
  }
}

.country-whish-list__name {
  padding-left: 40px;

  font-weight: 500;

  @include font-size-height(15px, 18px);
  color: $link-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-size-height(20px, 30px);
  }
}
