.directions__button {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 300px;
  }
}

.directions__w-container {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.directions__directions-list {
  @media (min-width: $desktop-width) {
    width: 560px;
  }
}
