.index-header {
  color: $white;

  background-color: $night-blue;
}

.index-header__container {
  @include container;
  padding-top: 50px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.index-header__tagline {
  @include reset-m-p;
  margin-bottom: 247px;

  @include padding-center(16px);
  padding-top: 10px;

  font-weight: 700;
  text-align: center;

  @include font-size-height(36px, 40px);

  @media (min-width: $tablet-width) {
    @include padding-center(145px);
    margin-right: auto;
    margin-bottom: 96px;
    padding-top: 0;


    @include font-size-height(60px, 70px);
  }

  @media (min-width: $desktop-width) {
    @include padding-center(0);
    width: 430px;
    margin-bottom: 96px;
    margin-left: 70px;

    text-align: left;
  }
}

.index-header__wrapper {
  display: flex;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.index-header__contacts {
  display: flex;
  justify-content: flex-start;
}

.index-header__button {
  flex-grow: 1;
  align-self: flex-start;
}

.index-header__quote {
  @include reset-m-p;
  width: 155px;
  margin-left: 23px;

  @include font-size-height(16px, 22px);

  @media (min-width: $tablet-width) {
    width: 262px;
    margin-bottom: 213px;
    margin-left: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 25px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.index-header__review {
  display: block;
  margin-bottom: 20px;

  @include index-description;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }
}

.index-header__author {
  display: block;
  margin-bottom: 33px;

  font-style: normal;
  @include index-description-bold;
}

.index-header__scheme-list {
  position: relative;
  top: 230px;

  @include list;
  margin-top: -230px;
  border-radius: 10px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    top: 138px;

    display: flex;
    flex-wrap: wrap;
    margin-top: -138px;

    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    top: 0;

    margin-top: 0;
    margin-bottom: 123px;
  }
}

.index-header__scheme-item {
  position: relative;

  padding: 23px 102px 34px 25px;

  font-weight: 700;
  color: $night-blue;

  @include font-size-height(18px, 18px);
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    flex-basis: 50%;

    @include font-size-height(24px, 24px);
    border-radius: 0;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 25%;
    flex-grow: 1;

    border-radius: 10px;
  }

  &:nth-child(4n+1) {
    background-color: $dark-orange;
  }

  &:nth-child(4n+2) {
    background-color: $orange;
  }

  &:nth-child(4n+3) {
    background-color: $dark-yellow;
  }

  &:nth-child(4n+4) {
    background-color: $yellow;
  }

  &:not(:first-child) {
    margin-top: -16px;

    @media (min-width: $tablet-width) {
      margin-top: 0;
    }
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      border-top-left-radius: 20px;
    }
  }

  &:last-child {
    padding-bottom: 22px;

    @media (min-width: $tablet-width) {
      border-bottom-left-radius: 20px;
      padding-bottom: 0;
    }
  }

  &:nth-child(2n) {
    @media (min-width: $tablet-width) {
      margin-left: -20px;
      flex-grow: 1;
    }
  }

  &:not(:nth-child(4n+1)) {
    @media (min-width: $desktop-width) {
      margin-left: -25px;
    }
  }
}

.index-header__scheme-count {
  position: absolute;
  top: 23px;
  right: 25px;

  color: $white;

  @media (min-width: $tablet-width) {
    position: static;

    display: block;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 23px;
    right: 45px;

    margin-top: 0;
  }
}
