.location {
  color: $night-blue;
}

.location__header {
  position: relative;
  z-index: 3;

  @include rounding-bottom(30px, 60px, 60px);
  background-color: $yellow;
}

.location__container {
  @include container(35, 35, 223, 74);
  padding-top: 95px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 129px;
    padding-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    padding-top: 119px;
    padding-bottom: 60px;
  }
}

.location__address {
  position: relative;

  width: 210px;
  margin-bottom: 30px;
  padding-left: 62px;

  font-weight: 700;
  font-style: normal;

  @include font-size-height(16px, 22px);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-left: 95px;
    margin-bottom: 62px;

    @include font-size-height(28px, 28px);
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 122px;
  }

  &::before {
    @include pseudo(absolute);
    top: -2px;
    left: 0;

    @include circle(45px);
    background-color: #121936;
    background-image: url("../img/contacts-location.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;

    @media (min-width: $tablet-width) {
      top: -22px;

      @include square(68px);
      background-size: 21px;
    }

    @media (min-width: $desktop-width) {
      top: -30px;

      @include square(90px);
      background-size: 28px;
    }
  }
}

.location__map-wrapper {
  position: relative;
  z-index: 2;
  top: -30px;

  min-height: 332px;
  margin-bottom: -30px;

  @media (min-width: $tablet-width) {
    top: -60px;

    min-height: 580px;
    margin-bottom: -60px;
  }

  @media (min-width: $desktop-width) {
    min-height: 516px;
  }
}

.location__map-img {
  display: block;
  width: 320px;
  height: 332px;

  @include center;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 580px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 516px;
  }
}

.location__map-interactive {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  border: none;
}

.location__button {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 324px;
  }
}
