.location {
  color: $night-blue;

  background-color: $yellow;
}

.location__container {
  @include container(35, 35, 223, 74);
  padding-top: 95px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 125px;
    padding-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    padding-top: 119px;
    padding-bottom: 60px;
  }
}

.location__address {
  position: relative;

  width: 210px;
  margin-bottom: 35px;
  padding-left: 62px;

  font-weight: 700;
  font-style: normal;

  @include font-size-height(16px, 22px);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-left: 95px;
    margin-bottom: 64px;

    @include font-size-height(28px, 28px);
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
    margin-bottom: 0;
  }

  &::before {
    @include pseudo(absolute);
    top: -2px;
    left: 0;

    @include circle(45px);
    background-color: #121936;

    @media (min-width: $tablet-width) {
      top: -22px;

      @include square(68px);
    }
  }
}

.location__map-wrapper {
  position: relative;
  z-index: 2;
  top: -30px;

  min-height: 375px;
  margin-bottom: -30px;

  @media (min-width: $tablet-width) {
    top: -60px;

    min-height: 599px;
    margin-bottom: -60px;
  }

  @media (min-width: $desktop-width) {
    min-height: 538px;
  }
}

.location__map-img {
  display: block;

  @include center;
}

.location__map-interactive {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  border: none;
}

.location__button {
  width: 100%;

  color: $dark-blue;

  box-shadow: 0 0 0 3px $dark-blue inset;

  @media (min-width: $desktop-width) {
    width: 324px;
  }
}
