.main {
  &--bg--inner {
    background-color: $light-grey;
  }
}

.main__item {
  padding-top: 96px;
  padding-bottom: 30px;

  &--bg--dark {
    background-color: $night-blue;
  }

  &--bg--not-so-dark {
    background-color: $dark-blue;
  }

  &--bg--light {
    background-color: $light-grey;
  }

  &--bg--shine {
    background-color: $yellow;
  }

  &--align--center {
    text-align: center;
  }

  &--rounded {
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
  }
}

.main__index-header {
  position: relative;
  z-index: 11;

  @include rounding-bottom(0, 0, 60px);
}

.main__items-wrapper {
  @include container;
  padding-top: 24px;
  padding-bottom: 106px;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 137px;
  }
}

.main__about {
  position: relative;
  z-index: 10;

  @include rounding-bottom(30px, 60px, 60px);

  @media (min-width: $desktop-width) {
    top: -60px;
    margin-bottom: -60px;
  }
}

.main__directions {
  position: relative;
  top: -60px;
  z-index: 9;

  margin-bottom: -60px;

  @include rounding-bottom(30px, 60px, 60px);
}

.main__filters {
  margin-bottom: 28px;
  padding: 26px 20px 22px 20px;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    padding: 37px 35px 38px 35px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    align-self: flex-start;
    order: 1;
    margin-bottom: 40px;
  }
}

.main__companions {
  position: relative;
  top: -60px;
  z-index: 8;

  margin-bottom: -60px;

  @include rounding-bottom(30px, 60px, 60px);
}

.main__price {
  position: relative;
  top: -60px;
  z-index: 7;

  margin-bottom: -60px;

  @include rounding-bottom(30px, 60px, 60px);
}

.main__feedback {
  position: relative;
  top: -60px;
  z-index: 6;

  margin-bottom: -60px;

  @include rounding-bottom(30px, 60px, 60px);
}

.main__location-wrapper {
  position: relative;
  top: -60px;
  z-index: 5;

  margin-bottom: -60px;
  padding-bottom: 1px;
}

.main__location {
  position: relative;
  z-index: 3;

  @include rounding-bottom(30px, 60px, 60px);
}

.main__text-wrapper {
  @media (min-width: $desktop-width) {
    width: 430px;
  }

  &--right {
    @media (min-width: $desktop-width) {
      order: 2;
      margin-left: auto;
    }
  }

  &--left {
    @media (min-width: $desktop-width) {
      margin-right: auto;
    }
  }
}

.main__title {
  @include reset-m-p;
  @include padding-center(24px);
  margin-bottom: 23px;

  @include font-size-height(24px, 24px);
  color: $dark-orange;

  @media (min-width: $tablet-width) {
    @include padding-center(0);
    @include font-size-height(45px, 45px);
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
  }

  &--form {
    @include padding-center(0);
    @include font-size-height(22.5px, 22.5px);
    color: $link-color;
  }
}

.main__profile {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}

.main__plan {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  @media (min-width: $desktop-width) {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}

.main__description {
  @include reset-m-p;
  @include padding-center(24px);
  margin-bottom: 25px;

  font-weight: 300;

  @include font-size-height(16px, 22px);

  @media (min-width: $tablet-width) {
    width: 300px;

    @include padding-center(0);
    margin-bottom: 38px;

    @include font-size-height(28px, 33px);
  }

  @media (min-width: $desktop-width) {
    width: 620px;
    margin-bottom: 44px;
  }

  &--contrast--dark {
    color: $white;
  }

  &--contrast--light {
    color: $light-black;
  }

  &--bold {
    font-weight: 700;

    @media (min-width: $tablet-width) {
      @include font-size-height(21px, 25px);
    }

    @media (min-width: $desktop-width) {
      width: 415px;
      margin-bottom: 86px;
    }
  }

  &--full {
    @media (min-width: $desktop-width) {
      width: 100%;
    }
  }
}

.main__filter-country {
  position: relative;
  top: -60px;
  z-index: 6;

  min-height: 110px;
  margin-bottom: -60px;

  @include rounding-bottom(30px, 60px, 60px);

  @media (min-width: $tablet-width) {
    min-height: 190px;
  }
}

.main__item-button {
  @media (min-width: $desktop-width) {
    order: 20;
  }
}
