.main {
  &--bg--inner {
    background-color: $light-grey;
  }
}

.main__index-header {
  position: relative;
  z-index: 11;

  @include rounding-bottom(0, 0, 60px);
}

.main__items-wrapper {
  @include container;
  padding-top: 24px;
  padding-bottom: 106px;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    padding-bottom: 122px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 137px;
  }
}

.main__about {
  position: relative;
  z-index: 10;

  @include rounding-bottom(30px, 60px, 60px);

  @media (min-width: $desktop-width) {
    top: -60px;
    margin-bottom: -60px;
  }
}

.main__directions {
  position: relative;
  top: -60px;
  z-index: 9;

  margin-bottom: -60px;

  @include rounding-bottom(30px, 60px, 60px);
}

.main__filters {
  margin-bottom: 28px;
  padding: 26px 24px 22px 24px;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    padding: 36px 34px 38px 34px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    align-self: flex-start;
    order: 1;
    margin-bottom: 40px;
    padding: 47px 47px 38px 47px;
  }
}

.main__companions {
  position: relative;
  top: -60px;
  z-index: 8;

  margin-bottom: -60px;

  @include rounding-bottom(30px, 60px, 60px);
}

.main__price {
  position: relative;
  top: -60px;
  z-index: 7;

  margin-bottom: -60px;

  @include rounding-bottom(30px, 60px, 60px);
}

.main__feedback {
  position: relative;
  top: -60px;
  z-index: 6;

  margin-bottom: -60px;

  @include rounding-bottom(30px, 60px, 60px);
}

.main__location-wrapper {
  position: relative;
  top: -60px;
  z-index: 5;

  margin-bottom: -60px;
  padding-bottom: 1px;
}

.main__location {
  position: relative;
  z-index: 3;

  @include rounding-bottom(30px, 60px, 60px);
}

.main__text-wrapper {
  @media (min-width: $desktop-width) {
    width: 430px;
  }

  &--right {
    @media (min-width: $desktop-width) {
      order: 2;
      margin-left: auto;
    }
  }

  &--left {
    @media (min-width: $desktop-width) {
      margin-right: auto;
    }
  }
}

.main__profile {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}

.main__plan {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  @media (min-width: $desktop-width) {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}

.main__filter-country {
  position: relative;
  top: -60px;
  z-index: 6;

  min-height: 110px;
  margin-bottom: -60px;

  @include rounding-bottom(30px, 60px, 60px);

  @media (min-width: $tablet-width) {
    min-height: 190px;
  }
}
