.main-footer {
  padding-top: 38px;
  padding-bottom: 24px;

  border-top-right-radius: 28px;
  border-top-left-radius: 28px;

  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-bottom: 46px;
  }

  &--pos {
    margin-top: -28px;
  }
}

.main-footer__w-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__site-logo {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__social-list {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__link-wrapper {
  align-self: stretch;
  padding-top: 22px;

  border-top: 1px solid rgba($light-black, 0.05);

  @media (min-width: $tablet-width) {
    align-self: center;
    padding-top: 0;

    border-top: none;
  }
}
