.main-footer {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
  }

  &--pos {
    position: relative;
    z-index: 20;
    top: -30px;

    margin-bottom: -30px;

    @media (min-width: $tablet-width) {
      top: -60px;

      margin-bottom: -60px;
    }
  }

  &--norel {
    margin-top: -60px;
  }
}

.main-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include container;
  padding-top: 38px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 46px;
  }
}

.main-footer__site-logo {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__social-list {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 49px;
  }
}

.main-footer__link-wrapper {
  align-self: stretch;
  padding-top: 13px;

  border-top: 1px solid rgba($light-black, 0.05);

  @media (min-width: $tablet-width) {
    align-self: center;
    padding-top: 0;

    border-top: none;
  }
}

.main-footer__link {
  display: flex;
  align-items: center;
  width: 100%;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 154px;
  }
}

.main-footer__academy-logo {
  margin-left: auto;
}
