.main-header {
  color: $dark-blue;

  background-color: $white;

  @media (min-width: $desktop-width) {
    color: $white;

    background-color: $night-blue;
  }
}

.main-header__w-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 27px;
}

.main-header__site-logo {
  display: inline-block;
  margin-right: auto;
  margin-bottom: 79px;
}

.main-header__button-toggle {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-header__button {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-left: auto;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    margin-left: 0;
  }
}

.main-header__page-title {
  @media (min-width: $desktop-width) {
    order: 3;
    width: 100%;
  }
}

.main-header__nav-wrapper {
  width: 100%;

  @media (min-width: $desktop-width) {
    display: flex;
    width: 790px;
  }
}

.main-header__main-nav {
  @media (min-width: $desktop-width) {
    margin-right: auto;
  }
}

.main-header__contacts {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 116px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-left: 0;
  }
}

.main-header__social-list {
  justify-content: center;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    margin-bottom: 74px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
