.main-header {
  position: relative;
  z-index: 12;

  color: $white;

  background-color: $night-blue;

  @media (min-width: $tablet-width) {
    background-color: #182044;
  }

  @media (min-width: $desktop-width) {
    color: $white;

    background-color: $night-blue;
  }

  &--inner {
    @include rounding-bottom(20px, 60px, 60px);

    .main-header__nav-wrapper {
      top: 40%;

      @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
        top: 27%;
      }
    }
  }

  &--norel {
    position: static;
  }

  &--show {
    color: $night-blue;

    background-color: $white;

    @media (min-width: $desktop-width) {
      color: $white;

      background-color: $night-blue;
    }

    .main-header__scroll-container {
      margin-bottom: 1px;
    }

    .main-header__img {
      &--light {
        @media (max-width: $desktop-width - 1) {
          display: none;
        }
      }

      &--dark {
        @media (max-width: $desktop-width - 1) {
          display: inline;
        }
      }
    }

    .main-header__nav-wrapper {
      display: block;

      @include padding-center(25px);

      @media (min-width: $tablet-width) {
        @include padding-center(40px);
      }

      @media (min-width: $desktop-width) {
        display: flex;

        @include padding-center(0);
      }
    }

    .main-header__button-toggle {
      &::before,
      &::after {
        top: 11px;

        background-color: #cccccc;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &--nojs {
    @media (max-width: $desktop-width - 1) {
      color: $night-blue;

      background-color: $white;
    }

    .main-header__img {
      &--light {
        @media (max-width: $desktop-width - 1) {
          display: none;
        }
      }

      &--dark {
        @media (max-width: $desktop-width - 1) {
          display: inline;
        }
      }
    }

    .main-header__button-toggle {
      display: none;
    }

    .main-header__nav-wrapper {
      position: static;
      display: block;

      @media (min-width: $desktop-width) {
        display: flex;
      }
    }

    .main-header__page-title {
      @media (max-width: $desktop-width - 1) {
        padding-top: 0;
      }
    }

    .main-header__home-link {
      &::after {
        @media (max-width: $desktop-width - 1) {
          background-image: url("../img/return-dark.svg");
        }
      }

      @media (max-width: $desktop-width - 1) {
        align-self: flex-start;
        margin-top: 20px;
      }
    }
  }

  &--scroll {
    min-height: 49px;

    @media (min-width: $tablet-width) {
      min-height: 91px;
    }

    @media (min-width: $desktop-width) {
      min-height: 99px;
    }

    .main-header__scroll-container {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;

      min-width: $mobile-width;
      width: 100%;
      margin-bottom: 1px;

      background-color: $white;
    }

    .main-header__container {
      padding-bottom: 24px;

      @media (min-width: $tablet-width) {
        padding-bottom: 41px;
      }

      @media (min-width: $desktop-width) {
        padding-bottom: 47px;
      }
    }

    .main-header__img {
      &--light {
        display: none;
      }

      &--dark {
        display: block;
      }
    }

    .main-header__button-toggle {
      &::before,
      &::after {
        background-color: #cccccc;
      }
    }

    .main-header__nav-wrapper {
      top: 100%;
    }

    .main-header__main-nav {
      &::before {
        background-color: $dark-blue;
      }
    }

    .main-header__page-title {
      display: none;
    }

    .main-header__home-link {
      display: none;
    }
  }
}

.main-header__scroll-container {
  margin-bottom: -1px;
}

.main-header__container {
  @include container;
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
  }
}

.main-header__site-logo {
  display: block;
  margin-right: auto;
}

.main-header__img {
  &--dark {
    display: none;
  }
}

.main-header__button-toggle {
  position: relative;

  width: 25px;
  height: 25px;

  background-color: transparent;
  border: none;

  @media (min-width: $desktop-width) {
    display: none;
  }

  &::before,
  &::after {
    @include pseudo(absolute, 7px, auto, auto, 0);
    @include rectangle(25px, 3px);

    background-color: $white;
    border-radius: 1px;
  }

  &::after {
    top: 15px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__button {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 188px;
    margin-left: auto;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    margin-left: 0;
    padding-top: 11px;
    padding-bottom: 9px;
  }
}

.main-header__page-title {
  position: relative;

  @include reset-m-p;
  margin-right: 145px;
  padding-top: 53px;
  padding-bottom: 9px;

  @include font-size-height(36px, 40px);

  @media (min-width: $tablet-width) {
    padding-top: 128px;
    padding-bottom: 62px;
    margin-left: 35px;

    @include font-size-height(60px, 70px);
  }

  @media (min-width: $desktop-width) {
    order: 3;
    margin-right: 400px;
    margin-left: 66px;
    padding-top: 119px;
  }

  &::after {
    @include pseudo(absolute, auto, 0, -2px, auto);
    width: 100%;
    height: 5px;

    background-color: $dark-orange;
    border-radius: 2px;
  }
}

.main-header__nav-wrapper {
  width: 100%;
  padding-top: 68px;
  box-shadow: -300px 0 0 0 $white, 300px 0 0 0 $white;

  @media (min-width: $tablet-width) {
    padding-top: 93px;

    box-shadow: -400px 0 0 0 $white, 400px 0 0 0 $white;
  }

  @media (max-width: $desktop-width - 1) {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    display: none;

    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    width: 790px;
    padding-top: 0;

    box-shadow: none;
  }
}

.main-header__main-nav {
  @media (min-width: $desktop-width) {
    position: relative;

    margin-right: auto;
  }

  &::before {
    @media (min-width: $desktop-width) {
      @include pseudo(absolute, 11px, auto, auto, -105px);
      @include rectangle(60px, 2px);

      background-color: $white;
    }
  }
}

.main-header__contacts {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 130px;
    margin-left: 57px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.main-header__social-list {
  justify-content: center;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    margin-bottom: 74px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-header__home-link {
  position: relative;
  display: none;
  margin-top: 69px;
  margin-right: 35px;
  margin-left: auto;
  padding-right: 61px;

  @include font-size-height(20px, 24px);
  color: inherit;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    @media (min-width: $tablet-width) {
      @include pseudo(absolute);
      top: 0;
      right: 0;

      @include rectangle(32px, 16px);

      background-image: url("../img/return-light.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    order: 5;
    margin-top: 60px;
    margin-right: 64px;
  }
}
