.main-nav__list {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 153px;
    margin-left: 58px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.main-nav__button {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 8px;
  margin-bottom: 65px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
