.main-nav__list {
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 150px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.main-nav__button {
  width: 100%;
  margin-bottom: 51px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
