.plan {
  &--ready {
    background-color: #dfe3f0;
  }

  &--add {
    background-color: #d4d9eb;
  }
}

.plan__title {
  @include reset-m-p;

  @include font-size-height(24px, 24px);
  color: $link-color;
}

.plan__subtitle {
  @include reset-m-p;

  @include font-size-height(20px, 20px);
}

.plan__list {
  @include list;
}

.plan__item {
  background-color: $white;
  color: $link-color;
}

.plan__country-ready {
  font-weight: 700;
  @include font-size-height(16px, 16px);
  color: $link-color;
}

.plan__info {
  font-weight: 500;
  @include font-size-height(14px, 14px);

  text-transform: uppercase;
}

.plan__link {
  @include font-size-height(14px, 18px);
}

.plan__link-prev {
  color: $night-blue;
  @include font-size-height(17px, 30px);
}

.plan__description {
  @include reset-m-p;

  @include font-size-height(16px, 22px);

  color: $light-black;
}

.plan__brief {
  font-weight: 500;
  @include font-size-height(16px, 16px);
  color: rgba($link-color, 0.3);
  text-transform: uppercase;
}

.plan__calendar-month {
  font-weight: 700;
  @include font-size-height(20px, 20px);
}

.plan__calendar-days {
  @include font-size-height(14px, 18px);
}

.plan__list-calendar {
  @include list;
}

.plan__item-weekdays {
  color: $light-black;

  &--ends {
    color: #ff5c23;
  }
}

.plan__country-name {
  font-weight: 500;

  @include font-size-height(14px, 18px);
  text-transform: uppercase;
}
