.plan {
  &--ready {
    background-color: #dfe3f0;
  }

  &--append {
    background-color: #d4d9eb;
    margin-top: -29px;
  }
}

.plan__container {
  @include container(35, 35, 0, 0);
  padding-top: 29px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-top: 51px;
    padding-bottom: 106px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 46px;
    padding-bottom: 91px;
  }
}

.plan__title {
  @include reset-m-p;
  margin-bottom: 29px;

  @include font-size-height(24px, 24px);
  color: $link-color;

  @media (min-width: $tablet-width) {
    @include font-size-height(36px, 50px);
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 64px;
  }
}

.plan__list {
  @include list;

  counter-reset: plan;
}

.plan__subtitle {
  position: relative;

  @include reset-m-p;
  margin-bottom: 15px;

  @include font-size-height(20px, 20px);

  &::before {
    counter-increment: plan;
    content: "Шаг " counter(plan) ". ";

    position: relative;

    display: block;

    @media (min-width: $desktop-width) {
      display: inline;
    }
  }

  @media (min-width: $tablet-width) {
    @include font-size-height(36px, 36px);
    margin-bottom: 37px;
  }
}

.plan__item {
  padding: 25px;
  padding-bottom: 20px;

  background-color: $white;
  color: $link-color;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    padding: 28px 32px 11px 37px;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 39px 23px 42px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &--ready {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
      align-items: center;
      margin-left: 64px;
    }

    &:not(:last-child) {
      @media (min-width: $desktop-width) {
        margin-bottom: 15px;
      }
    }
  }

  &--append {
    @media (min-width: $tablet-width) {
      padding: 52px 44px 55px 44px;

      border-radius: 30px;
    }

    @media (min-width: $desktop-width) {
      @include padding-center(160px);
      padding-top: 100px;
      padding-bottom: 105px;

      border-radius: 60px;
    }

    &:not(:last-child) {
      @media (min-width: $tablet-width) {
        margin-bottom: 40px;
      }

      @media (min-width: $desktop-width) {
        margin-bottom: 44px;
      }
    }
  }
}

.plan__country-ready {
  position: relative;
  margin-bottom: 21px;

  font-weight: 700;

  @include font-size-height(16px, 16px);
  color: $link-color;

  &::before {
    counter-increment: plan;
    content: counter(plan) ".";

    position: relative;
    font-weight: 500;

    @media (min-width: $tablet-width) {
      order: 1;
      margin-left: auto;

      @include font-size-height(20px, 18px);
    }

    @media (min-width: $desktop-width) {
      order: 0;
      margin-right: 38px;
      margin-left: 0;
    }
  }

  &::after {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      @include pseudo(absolute);
      bottom: -39%;
      left: -37px;

      width: 100%;
      height: 1px;
      padding-right: 32px;
      padding-left: 37px;
      box-sizing: content-box;

      background-color: #eff0f4;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;

    @include font-size-height(24px, 50px);
  }

  @media (min-width: $desktop-width) {
    width: 580px;
    margin-bottom: 0;
  }
}

.plan__info {
  display: flex;
  flex-direction: column;

  @include reset-m-p;
  margin-bottom: 14px;

  font-weight: 500;

  @include font-size-height(14px, 14px);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-bottom: 0;
    margin-right: auto;

    @include font-size-height(20px, 18px);
  }
}

.plan__info-item {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    width: 185px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.plan__link {
  @include font-size-height(14px, 18px);
  letter-spacing: 1px;

  &:hover {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.1);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.plan__description {
  @include reset-m-p;
  margin-bottom: 21px;

  @include font-size-height(16px, 22px);
  color: $light-black;

  @media (min-width: $tablet-width) {
    @include font-size-height(20px, 24px);
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    max-width: 588px;
  }

  br {
    @media (max-width: $tablet-width - 1) {
      display: none;
    }
  }
}

.plan__inputs-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-top: 30px;

    border-top: 1px solid #d6d9e6;
  }
}

.plan__input-wrapper {
  display: flex;
  flex-wrap: wrap;

  @include reset-m-p;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }

  &--count {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      padding-top: 24px;

      border-top: 1px solid #d6d9e6;
    }

    @media (min-width: $desktop-width) {
      width: 485px;
      align-items: center;
    }

    &:first-child {
      @media (min-width: $tablet-width) {
        order: -2;
      }
    }
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      order: -1;
    }

    @media (min-width: $desktop-width) {
      justify-content: flex-end;
      align-self: center;
      width: 300px;
      margin-left: auto;
    }
  }
}

.plan__count-wrapper {
  position: relative;

  display: flex;
  margin-top: 8px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
    margin-top: 0;
  }
}

.plan__button {
  &--minus,
  &--plus {
    position: absolute;
    top: 0;

    height: 100%;
    width: 40px;

    border: none;
    background-color: transparent;

    cursor: pointer;

    @media (min-width: $tablet-width) {
      width: 60px;
    }

    &:hover {
      &::before,
      &::after {
        background-color: rgba($black, 0.4);
      }
    }

    &:active {
      &::before,
      &::after {
        background-color: rgba($black, 0.1);
      }
    }

    &::before,
    &::after {
      @include pseudo(absolute, 49%);
      left: 34%;

      @include rectangle(14px, 2px);

      background-color: rgba($black, 0.2);

      @media (min-width: $tablet-width) {
        width: 20px;
      }
    }
  }

  &--minus {
    left: 0;

    &::before {
      display: none;
    }
  }

  &--plus {
    right: 0;

    &::before {
      transform: rotate(90deg);
    }
  }

  &--trek {
    position: relative;

    border: none;
    background-color: transparent;

    cursor: pointer;

    &:hover {
      &::before,
      &::after {
        background-color: rgba($black, 0.3);
      }
    }

    &:active {
      &::before,
      &::after {
        background-color: rgba($black, 0.1);
      }
    }

    @media (min-width: $tablet-width) {
      width: 45px;
      height: 45px;
    }

    &::before,
    &::after {
      @include pseudo(absolute, 43%);
      left: 3px;

      @include rectangle(12px, 2px);

      background-color: rgba($black, 0.5);

      transform-origin: top left;

      @media (min-width: $tablet-width) {
        @include rectangle(25px, 3px);
        left: 10px;
      }
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      width: 10px;

      transform: rotate(-45deg);

      @media (min-width: $tablet-width) {
        width: 22px;
      }
    }
  }

  &--trek-prev {
    margin-right: auto;
  }

  &--trek-next {
    margin-left: auto;
    transform: rotate(180deg);
  }
}

.plan__brief {
  font-weight: 500;
  letter-spacing: 1.5px;

  @include font-size-height(16px, 16px);
  color: rgba($link-color, 0.3);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-size-height(20px, 20px);
  }

  @media (min-width: $desktop-width) {
    order: 1;
    margin-left: auto;

    color: $link-color;
  }
}

.plan__calendar-wrapper {
  @media (min-width: $tablet-width) {
    padding-top: 32px;
  }
}

.plan__calendar-month {
  display: flex;
  padding-top: 12px;
  padding-bottom: 10px;
  margin-bottom: 20px;

  font-weight: 700;

  @include font-size-height(20px, 20px);

  border-top: 1px solid #d6d9e6;
  border-bottom: 1px solid #d6d9e6;

  @media (min-width: $tablet-width) {
    @include font-size-height(36px, 36px);
    padding-top: 29px;
    padding-bottom: 22px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.plan__calendar-days {
  @include font-size-height(14px, 18px);
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.plan__list-calendar {
  @include list;
  display: flex;
  flex-wrap: wrap;
}

.plan__item-weekdays {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: (100% / 7);
  height: 30px;
  color: $light-black;

  @media (min-width: $tablet-width) {
    @include font-size-height(18px, 30px);
    height: 35px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    align-items: flex-start;
    height: 55px;
    padding: 15px;
  }

  &--ends {
    color: #ff5c23;
  }

  span {
    @media (max-width: $tablet-width - 1) {
      display: none;
    }
  }
}

.plan__item-days {
  flex-basis: (100% / 7);
  height: 30px;

  @media (min-width: $tablet-width) {
    @include font-size-height(20px, 20px);
    font-weight: 500;
    height: 70px;
  }

  @media (min-width: $desktop-width) {
    height: 72px;
  }
}

.plan__countries-wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    margin-bottom: 49px;

    border-top: 1px solid #d6d9e6;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      @include pseudo(absolute);
      top: 0;
      right: 142px;

      width: 1px;
      height: 110%;

      background-color: #d6d9e6;
    }

    @media (min-width: $desktop-width) {
      right: 225px;
      height: 120%;
    }
  }
}

.plan__country-wrapper {
  position: relative;

  display: flex;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  &--delete {
    .plan__delete-button {
      display: block;
    }
  }
}

.plan__action-wrapper {
  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-right: 28px;
    margin-bottom: 47px;

    border-top: 1px solid #d6d9e6;
  }

  @media (min-width: $desktop-width) {
    padding-top: 80px;
    padding-right: 110px;
    margin-bottom: 56px;
  }
}

.plan__action {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }

  &:not(:last-child) {
    &::before {
      @include pseudo(absolute);
      top: 7px;
      bottom: -37px;
      left: -11px;

      width: 2px;

      background-color: $link-color;

      @media (min-width: $tablet-width) {
        left: auto;
        right: -36px;
        bottom: -45px;
        width: 3px;
      }

      @media (min-width: $desktop-width) {
        right: 103px;
        bottom: -58px;
      }
    }
  }
}

.plan__country-button {
  position: relative;

  flex-grow: 1;
  padding: 13px 11px;
  padding-right: 5px;
  font-weight: 500;

  @include font-size-height(14px, 18px);
  text-transform: uppercase;
  white-space: nowrap;
  color: $link-color;
  text-align: left;

  background-color: transparent;
  border: 1px solid $input-border-color;
  border-radius: 3px;

  cursor: pointer;

  &:hover {
    border-color: #959bb2;

    .plan__country-action {
      &::before,
      &::after {
        background-color: #918f8f;
      }
    }
  }

  &:active {
    color: $white;

    background-color: $link-color;
    border-color: none;

    .plan__country-action {
      background-color: $link-color;

      box-shadow: -20px 0 8px -4px $link-color;
    }
  }

  @media (min-width: $tablet-width) {
    flex-grow: 0;
    width: 370px;
    margin-right: 36px;
    padding: 25px 24px 23px 24px;

    @include font-size-height(20px, 20px);
  }

  @media (min-width: $desktop-width) {
    width: 730px;
    margin-right: 65px;
  }

  &::after {
    @include pseudo(absolute);
    top: 50%;
    left: 162px;

    @include circle(8px);

    background-color: $white;
    border: 1px solid #c2c4c9;

    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      left: auto;
      right: -34px;

      @include square(15px);
    }

    @media (min-width: $desktop-width) {
      right: -52px;
    }
  }

  &--checked {
    &::after {
      background-color: $link-color;
      border: none;
    }
  }

  &--choose {
    background-color: $light-grey;
    border: none;

    &:hover {
      background-color: #dfe3f0;
    }

    &:active {
      background-color: #dfe3f0;

      color: rgba($link-color, 0.3);

      .plan__country-action {
        background-color: #dfe3f0;

        box-shadow: -20px 0 8px -4px #dfe3f0;
      }
    }

    &::after {
      background-color: $light-grey;
    }
  }

  &--show {
    color: $white;

    background-color: $link-color;

    &:hover {
      .plan__country-action {
        &::before,
        &::after {
          background-color: $white;
        }
      }
    }

    &:active {
      .plan__country-action {
        &::before,
        &::after {
          background-color: #34436c;
        }
      }
    }

    &::after {
      @media (max-width: $tablet-width - 1) {
        display: none;
      }
    }

    .plan__country-action {
      &--unfold {
        background-color: transparent;
        box-shadow: none;

        &::before,
        &::after {
          top: 47%;
          width: 13px;
          transform-origin: center center;
          background-color: #616d8d;
        }

        &::after {
          left: 0;
        }
      }
    }

    + .plan__filter-country {
      display: block;
    }
  }
}

.plan__country-action {
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 1px;

  width: 28px;

  &::before,
  &::after {
    @include pseudo(absolute);
    top: 46%;
    left: 0;

    background-color: #c2c4c9;
  }

  &--unfold {
    background-color: $white;

    box-shadow: -20px 0 8px -4px $white;

    &::before,
    &::after {
      top: 40%;

      @include rectangle(9px, 2px);
    }

    &::before {
      transform-origin: top left;
      transform: rotate(45deg);
    }

    &::after {
      left: 1px;

      transform-origin: top right;
      transform: rotate(-45deg);
    }
  }

  &--plus {
    &::before,
    &::after {
      @include rectangle(14px, 2px);
    }

    &::after {
      transform: rotate(90deg);
    }
  }
}

.plan__delete-button {
  position: absolute;
  top: -8px;
  right: -8px;

  display: none;

  @include circle(21px);
  background-color: $light-grey;
  border: none;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 24px;

    background-color: transparent;

    transform: scale(2);
  }

  &:hover {
    &::before,
    &::after {
      background-color: #a5a7ac;
    }
  }

  &:active {
    &::before,
    &::after {
      background-color: #e1e3e9;
    }
  }

  &::before,
  &::after {
    @include pseudo(absolute);
    top: 49%;
    left: 26%;

    @include rectangle(11px, 1px);
    background-color: #c2c4c9;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}

.plan__flag-wrapper {
  width: 53px;
  flex-shrink: 0;

  border: 1px solid $input-border-color;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px;

  @media (min-width: $tablet-width) {
    width: 110px;

    border: none;
    border-radius: 0;
    background-size: 70px;
  }

  &--bosnia {
    background-image: url("../img/flag-bosnia.svg");
  }

  &--czech {
    background-image: url("../img/flag-czech.svg");
  }

  &--action {
    width: 37px;
    border: none;
    border-radius: 0;

    background-position: center top;

    @media (min-width: $tablet-width) {
      width: 70px;
    }
  }
}

.plan__filter-country {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;

  display: none;

  background-color: $white;
  border: 1px solid $input-border-color;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 20px 50px 0 rgba($link-color, 0.1);

  @media (min-width: $tablet-width) {
    width: 574px;
    padding: 34px 27px 96px 27px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
    padding-bottom: 19px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      @include pseudo(absolute);
      top: 0;
      left: 367px;
      bottom: 0;

      width: 1px;

      background-color: $input-border-color;
    }

    @media (min-width: $desktop-width) {
      left: 489px;
    }
  }
}

.plan__steps-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.plan__button-step {
  width: 100%;

  @media (max-width: $tablet-width - 1) {
    padding: 5px 5px 3px 5px;

    @include font-size-height(17px, 30px);
    color: $night-blue;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 286px;
    margin-right: auto;
  }
}

.plan__link-step {
  position: relative;

  color: $night-blue;

  @include font-size-height(17px, 30px);

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-left: 34px;

    text-transform: none;

    @include font-size-height(24px, 24px);
  }

  &::before {
    @media (min-width: $tablet-width) {
      @include pseudo(absolute);
      top: 3px;
      left: 0;

      @include triangle-right($link-color, 10px, 14px);

      transform: rotate(180deg);
    }
  }
}
