.price {
  color: $light-black;

  background-color: $light-grey;
}

.price__container {
  @include container(0, 0, 70, 70);
  padding-top: 111px;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding-top: 132px;
    padding-bottom: 86px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 165px;
    padding-bottom: 187px;
  }
}

.price__heading {
  @include index-headings;
  width: 150px;

  @media (min-width: $tablet-width) {
    width: 100%;
    text-align: center;
  }

  &--popup {
    width: auto;

    text-align: center;
  }
}

.price__list {
  @include list;
  margin-left: 24px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-left: 90px;
    margin-bottom: 59px;
  }

  &--popup {
    @media (min-width: $tablet-width) {
      margin-right: 90px;
      margin-bottom: 50px;
    }

    .price__item {
      width: 220px;

      @media (min-width: $tablet-width) {
        width: 100%;

        @include font-size-height(22px, 28px);
      }
    }
  }
}

.price__item {
  position: relative;

  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: 300;

  @include font-size-height(16px, 22px);
  color: $light-black;

  border-top: 1px solid rgba($light-black, 0.05);
  border-bottom: 1px solid rgba($light-black, 0.05);

  @media (min-width: $tablet-width) {
    display: flex;
    width: 565px;
    padding-top: 16px;
    padding-bottom: 17px;

    @include font-size-height(28px, 33px);
  }

  @media (min-width: $desktop-width) {
    width: 815px;
  }

  &:not(:first-child) {
    margin-top: -1px;
  }

  &:nth-child(3n+1) {
    .price__count {
      background-color: $orange;
    }
  }

  &:nth-child(3n+2) {
    .price__count {
      background-color: $dark-yellow;
    }
  }

  &:nth-child(3n+3) {
    .price__count {
      background-color: $yellow;
    }
  }
}

.price__count {
  position: absolute;
  top: 0;
  right: -44px;

  display: flex;
  justify-content: center;
  align-items: center;

  @include circle(34px);
  @include font-size-height(16px, 16px);
  color: $white;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    right: auto;
    left: -91px;

    @include square(67px);
    @include font-size-height(28px, 28px);
  }
}

.price__service {
  @include reset-m-p;

  @media (min-width: $tablet-width) {
    margin-right: auto;
  }
}

.price__link-show {
  line-height: 16px;
  color: $dark-blue;

  @include padding-center(24px);

  @media (min-width: $tablet-width) {
    position: relative;

    @include padding-center(0);
    margin-left: 90px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      @include pseudo(absolute, -27px, auto, auto, -91px);
      @include circle(67px);

      background-color: $blue-grey;
    }
  }
}

.price__popup {
  position: absolute;
  top: 50px;
  left: 50%;

  width: 270px;
  padding-top: 30px;

  background-color: $white;
  border-radius: 20px;
  overflow: hidden;

  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    top: 61px;

    width: 690px;
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    top: 160px;

    width: 750px;
  }
}

.price__close-button {
  width: 100%;
  padding: 19px 25px 16px 25px;

  @include link-style($link-color, 16px, 24px);
  font-weight: 700;
  text-transform: uppercase;

  border: none;
  background-color: #f3f4f8;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 40px;

    font-size: 24px;
    text-transform: none;
  }
}
