.price {
  color: $light-black;

  background-color: $light-grey;
}

.price__container {
  position: relative;

  @include container(0, 0, 70, 70);
  padding-top: 112px;
  padding-bottom: 38px;

  background-image: url("../img/rates@1x.png");
  background-repeat: no-repeat;
  background-size: 99px;
  background-position: top 97px right 26px;

  &::before {
    @media (min-width: $tablet-width) {
      @include pseudo(absolute);
      top: 209px;
      right: 40px;
      z-index: -1;

      @include rectangle(198px, 285px);
      background-color: $blue-grey;
      border-radius: 20px;
    }

    @media (min-width: $desktop-width) {
      top: 295px;
      right: 246px;

      @include rectangle(444px, 300px);
    }
  }

  @media (min-resolution: $retina) {
    background-image: url("../img/rates@2x.png");
  }

  @media (min-width: $tablet-width) {
    padding-top: 134px;
    padding-bottom: 86px;

    background-position: bottom 46px right 86px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 165px;
    padding-bottom: 190px;

    background-size: 198px;
    background-position: top 345px right 135px;
  }
}

.price__heading {
  @include index-headings;
  width: 150px;
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 74px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 135px;
  }

  &--popup {
    width: auto;
    margin-bottom: 30px;

    text-align: center;
  }
}

.price__list {
  @include list;
  margin-left: 24px;
  margin-bottom: 29px;

  counter-reset: price;

  @media (min-width: $tablet-width) {
    margin-left: 90px;
    margin-bottom: 54px;
  }

  &--popup {
    @media (min-width: $tablet-width) {
      margin-right: 90px;
      margin-bottom: 50px;
    }

    .price__item {
      width: 220px;

      &::before {
        display: none;
      }

      @media (min-width: $tablet-width) {
        width: 100%;

        @include font-size-height(22px, 28px);
      }
    }
  }
}

.price__item {
  position: relative;

  width: 200px;
  padding-top: 10px;
  padding-bottom: 11px;

  font-weight: 300;

  @include font-size-height(16px, 22px);
  color: $light-black;

  border-top: 1px solid rgba($light-black, 0.05);
  border-bottom: 1px solid rgba($light-black, 0.05);

  &::before {
    counter-increment: price;
    content: counter(price);

    position: absolute;
    top: 3px;
    right: -45px;

    display: flex;
    justify-content: center;
    align-items: center;

    @include circle(34px);

    color: $white;

    @media (min-width: $tablet-width) {
      top: -3px;
      right: auto;
      left: -90px;

      @include square(67px);
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    width: 565px;
    padding-top: 16px;
    padding-bottom: 17px;

    @include font-size-height(28px, 33px);
  }

  @media (min-width: $desktop-width) {
    width: 815px;
  }

  &:not(:first-child) {
    margin-top: -1px;
  }

  &:nth-child(3n+1) {
    &::before {
      background-color: $orange;
    }
  }

  &:nth-child(3n+2) {
    &::before {
      background-color: $dark-yellow;
    }
  }

  &:nth-child(3n+3) {
    &::before {
      background-color: $yellow;
    }
  }
}

.price__service {
  @include reset-m-p;

  @media (min-width: $tablet-width) {
    margin-right: auto;
  }
}

.price__link-show {
  line-height: 16px;
  color: #132576;

  @include padding-center(24px);

  @media (min-width: $tablet-width) {
    position: relative;

    @include padding-center(0);
    margin-left: 90px;
  }

  &:hover {
    color: rgba(#132576, 0.7);

    &::after {
      opacity: 0.7;
    }
  }

  &:active {
    color: rgba(#132576, 0.3);

    &::after {
      opacity: 0.3;
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      @include pseudo(absolute, -27px, auto, auto, -91px);
      @include circle(67px);

      background-color: $blue-grey;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      @include pseudo(absolute);
      top: 50%;
      left: -64px;

      @include rectangle(17px, 21px);

      background-image: url("../img/business.svg");
      background-repeat: no-repeat;
      background-size: contain;

      transform: translateY(-50%);
    }
  }
}

.price__popup {
  position: absolute;
  top: 50px;
  left: 50%;

  width: 270px;
  padding-top: 30px;

  background-color: $white;
  border-radius: 20px;
  overflow: hidden;

  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    top: 61px;

    width: 690px;
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    top: 160px;

    width: 750px;
  }
}

.price__close-button {
  width: 100%;
  padding: 19px 25px 16px 25px;

  @include link-style($link-color, 16px, 24px);
  font-weight: 700;
  text-transform: uppercase;

  border: none;
  background-color: #f3f4f8;

  cursor: pointer;

  &:hover {
    background-color: $light-grey;
  }

  &:active {
    color: rgba($link-color, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 40px;

    font-size: 24px;
    text-transform: none;
  }
}
