.site-list {
  @include list;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.site-list__item {
  &:not(:last-child) {
    @media (min-width: $desktop-width) {
      margin-right: 37px;
    }
  }
}

.site-list__link {
  font-weight: 500;

  @include link-style($dark-blue, 30px, 36px);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-size-height(60px, 71px);
  }

  @media (min-width: $desktop-width) {
    @include link-style($white, 20px, 30px);
  }
}
