.site-list {
  @include list;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  &--scroll {
    .site-list__link {
      @media (min-width: $desktop-width) {
        text-shadow: 0 0 0 $dark-blue, 0 40px 0 $yellow;
      }
    }
  }
}

.site-list__item {
  &:not(:last-child) {
    @media (min-width: $desktop-width) {
      margin-right: 37px;
    }
  }
}

.site-list__link {
  display: block;
  font-weight: 500;

  overflow: hidden;

  @include link-style($dark-blue, 30px, 36px);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-size-height(60px, 71px);
  }

  @media (min-width: $desktop-width) {
    @include font-size-height(20px, 30px);
    color: transparent;
    text-shadow: 0 0 0 $white, 0 40px 0 $yellow;

    transition: text-shadow 300ms;
  }

  &[href] {
    &:hover {
      @media (max-width: $desktop-width - 1) {
        opacity: 0.6;
      }

      @media (min-width: $desktop-width) {
        text-shadow: 0 -40px 0 $white, 0 0 0 $yellow;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }
}
