.social-list {
  display: flex;

  @include list;
}

.social-list__link {
  display: block;

  @include circle(45px);

  background-color: $light-black;

  @media (min-width: $tablet-width) {
    @include circle(60px);
  }
}
