.social-list {
  display: flex;

  @include list;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  @include circle(45px);

  @media (min-width: $tablet-width) {
    @include circle(60px);
  }

  &:active {
    .social-list__icon {
      opacity: 0.3;
    }
  }

  &--style--footer {
    background-color: $yellow;

    &:hover {
      background-color: $dark-yellow;
    }

    .social-list__icon {
      fill: $link-color;
    }
  }

  &--style--header {
    .social-list__icon {
      fill: #cccccc;
    }
  }
}

.social-list__icon {
  &--fb {
    @include rectangle(11px, 21px);

    @media (min-width: $tablet-width) {
      @include rectangle(14px, 28px);
    }
  }

  &--vk {
    @include rectangle(23px, 12px);

    @media (min-width: $tablet-width) {
      @include rectangle(31px, 16px);
    }
  }

  &--in {
    @include square(18px);

    @media (min-width: $tablet-width) {
      @include square(24px);
    }
  }
}
