.transport-whish-list {
  @include list;
  display: flex;
  justify-content: center;

  &--inner {
    @media (min-width: $tablet-width) {
      flex-direction: column;
      margin-top: -18px;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      margin-right: 44px;
    }

    .transport-whish-list__item {
      @media (max-width: $tablet-width - 1) {
        background-color: $light-grey;
      }

      svg {
        @media (max-width: $tablet-width - 1) {
          height: 16px;
        }
      }
    }
  }

  &--filter {
    justify-content: flex-start;
    padding-top: 4px;
    padding-bottom: 19px;

    @media (min-width: $desktop-width) {
      padding-top: 8px;
      padding-bottom: 23px;
    }

    .transport-whish-list__item {
      overflow: hidden;

      @media (min-width: $tablet-width) {
        @include square(43px);
      }

      svg {
        @media (max-width: $tablet-width - 1) {
          height: 16px;
        }
      }
    }
  }

  &--profile {
    .transport-whish-list__item {
      @media (min-width: $tablet-width) {
        @include square(43px);
      }

      &:not(:last-child) {
        @media (min-width: $tablet-width) {
          margin-right: 8px;
        }

        @media (min-width: $desktop-width) {
          margin-right: 0;
        }
      }
    }
  }
}

.transport-whish-list__item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  @include circle(32px);

  &[data-hover] {
    &::before {
      @media (min-width: $desktop-width) {
        content: attr(data-hover);

        position: absolute;
        top: 138%;
        left: 50%;

        display: none;
        padding: 16px 24px 17px 24px;

        @include font-size-height(20px, 24px);
        color: $white;

        background-color: #101d41;
        border-radius: 3px;

        transform: translateX(-50%);
      }
    }

    &::after {
      @media (min-width: $desktop-width) {
        content: "";

        position: absolute;
        top: 100%;
        left: 50%;

        display: none;

        @include triangle-right(#101d41, 8px, 16px);
        transform: translateX(-50%) rotate(-90deg);
      }
    }

    &:hover {
      &::before,
      &::after {
        display: block;
      }
    }
  }

  svg {
    width: auto;
    height: 21px;

    opacity: 0.15;
  }

  &--active {
    svg {
      fill: $link-color;
      opacity: 1;
    }
  }
}

.transport-whish-list__button-toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  @include reset-m-p;
  @include circle(32px);

  background-color: $white;
  border: none;

  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 10px 0 rgba($black, 0.08);

    svg {
      opacity: 0.5;
    }
  }

  &:active {
    background-color: $blue-grey;
    box-shadow: none;

    svg {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    @include square(43px);
  }

  svg {
    @media (max-width: $tablet-width - 1) {
      height: 16px;
    }
  }
}
