.transport-whish-list {
  @include list;

  &--inner {
    @media (min-width: $tablet-width) {
      flex-direction: column;
      margin-top: -18px;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      margin-right: 35px;
    }

    .transport-whish-list__item {
      @include circle(32px);

      background-color: $light-grey;
    }
  }
}
