@mixin font-size-height($f-size, $f-height) {
  font-size: $f-size;
  line-height: $f-height;
}

@mixin list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin reset-m-p {
  margin: 0;
  padding: 0;
}

@mixin link-style($color, $f-size, $f-height, $c-opacity: 1) {
  color: rgba($color, $c-opacity);
  font-size: $f-size;
  line-height: $f-height;
  text-decoration: none;
}

@mixin current {
  cursor: default;
  pointer-events: none;
}

@mixin center {
  margin-left: auto;
  margin-right: auto;
}

@mixin padding-center($pad) {
  padding-left: $pad;
  padding-right: $pad;
}

@mixin container($p-left-tablet: 0, $p-right-tablet: 0, $p-left-desktop: 0, $p-right-desktop: 0) {
  width: $mobile-width;

  @include center;
  @include padding-center(25px);

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding-left: 40px + $p-left-tablet;
    padding-right: 40px + $p-right-tablet;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding-left: 60px + $p-left-desktop;
    padding-right: 60px + $p-right-desktop;
  }
}

@mixin square($side) {
  width: $side;
  height: $side;
}

@mixin rectangle($w, $h) {
  width: $w;
  height: $h;
}

@mixin circle($side) {
  @include square($side);
  border-radius: 50%;
}

@mixin triangle-right($color, $width, $height) {
  width: 0;
  height: 0;

  border: $width solid $color;
  border-right-width: 0;
  border-top-color: transparent;
  border-top-width: $height / 2;
  border-bottom-color: transparent;
  border-bottom-width: $height / 2;
}

@mixin rounding-bottom($mob, $tab, $desk) {
  border-bottom-left-radius: $mob;
  border-bottom-right-radius: $mob;

  @media (min-width: $tablet-width) {
    border-bottom-left-radius: $tab;
    border-bottom-right-radius: $tab;
  }

  @media (min-width: $desktop-width) {
    border-bottom-left-radius: $desk;
    border-bottom-right-radius: $desk;
  }
}

@mixin index-description {
  @include reset-m-p;
  margin-bottom: 20px;

  @include padding-center(23px);
  @include font-size-height(16px, 22px);
  font-weight: 300;

  @media (min-width: $tablet-width) {
    @include font-size-height(28px, 33px);
    @include padding-center(0);
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
  }
}

@mixin index-description-bold {
  @include reset-m-p;
  margin-bottom: 20px;

  @include padding-center(23px);
  @include font-size-height(16px, 22px);
  font-weight: 700;

  @media (min-width: $tablet-width) {
    @include font-size-height(21px, 25px);
    @include padding-center(0);
  }
}

@mixin index-headings {
  @include reset-m-p;
  @include padding-center(23px);
  margin-bottom: 18px;

  @include font-size-height(24px, 24px);
  color: $dark-orange;

  @media (min-width: $tablet-width) {
    @include padding-center(0);
    @include font-size-height(45px, 45px);
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

@mixin pseudo($pos, $top: auto, $right: auto, $bot: auto, $left: auto, $content: "") {
  content: $content;

  position: $pos;
  top: $top;
  right: $right;
  bottom: $bot;
  left: $left;
}
