@mixin font-size-height($f-size, $f-height) {
  font-size: $f-size;
  line-height: $f-height;
}

@mixin list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin link-style($color, $f-size, $f-height) {
  color: $color;
  font-size: $f-size;
  line-height: $f-height;
  text-decoration: none;
}
